@model IEnumerable<UCP1_PAW_111_C.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("TotalBiaya")
            </th>
            <th>
                @Html.DisplayName("IdAdmin")
            </th>
            <th>
                @Html.DisplayName("IdKonsumen")
            </th>
            <th>
                @Html.DisplayName("IdProduk")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBiaya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdminNavigation.IdAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKonsumenNavigation.IdKonsumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdukNavigation.IdProduk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaksi"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaksi"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaksi"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
